body {
    background-color: cornsilk;
}

.wrapper {
    max-width: 1920px;
}

h1 {
    text-align: center;
    color: coral;
    font-size: 48px;
    margin-bottom: 70px;
}

.container {
    margin: auto;
    max-width: 1400px;
    font-size: 1.5rem;
    color: cornflowerblue;
    font-family: Verdana, Arial, sans-serif;
    cursor: pointer;
}

.meme {
    border-top: 1px solid #ada8a8;
}

.plus {
    width: 32px;
    height: 32px;
    background-image:  url("./images/plus.png");
    background-size: 32px 32px;
    margin-right: 120px;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.title {
    margin-left: 100px;
}

.meme-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meme-container {
    height: 520px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;

}

.area-meme {
    cursor: pointer;
}

.meme:not(:hover) .meme-container{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: height 0.3s;
}

.image1 {
    display: block;
    height: 500px;
    width: 600px;
    margin: auto;
    background: url(images/1.jpg) no-repeat;
    background-size: 600px, 500px;
}

.image2 {
    display: block;
    height: 500px;
    width: 600px;
    margin: auto;
    background: url(images/2.jpg) no-repeat;
    background-size: 600px, 500px;
}

.image3 {
    display: block;
    height: 500px;
    width: 600px;
    margin: auto;
    background: url(images/3.jpg) no-repeat;
    background-size: 600px, 500px;
}

.image4 {
    display: block;
    height: 500px;
    width: 600px;
    margin: auto;
    background: url(images/4.jpg) no-repeat;
    background-size: 600px, 500px;
}

.meme:has(input:checked) .plus{
    transform: rotate(45deg);
}


.meme:not(:hover) .plus{
    transform: rotate(0deg);
    transition: transform 0.5s;
}


input {
    display: none;
}

.meme-container:has(input:checked).meme-container{
    height: 520px;
    opacity: 1;
    visibility: visible;
}

.container:not(:hover) .plus{
    opacity: 0;
    transition: opacity 0.3s;
}

.meme:has(.meme-container:active).meme {
    filter: grayscale(80%);
}






